body{
    background-color: rgb(75, 75, 100);
    font-size: 35;
}
head{
    background-color: rgb(50, 50, 50);
}
li{
    background-color: rgb(50, 50, 75);
    
}

.list-item{
    
}

#id-item{
    font-size: ;
}